<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 ">Taller Don Alex</h1>
    <p class="lead">El mejor taller de El Salvador</p>
    <hr class="my-2">
    <p>Se Aplica el 5% a los clientes que tengan 2 visitas y 10% a los que tengan
      4 visitas. </p>
    <div class="form-group ">
      <label class="col-4 col-form-label">Buscador</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="Busque por medio de DUI">

      </div>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="row">
    <form  ngSubmit="guardar(forma)" #forma="ngForm"  autocomplete="off">
      <div id="prueba" class="col">
        <div id="prueba3" class="form-group ">
          <label class="col-2 col-form-label ">Nombre:</label>
          <div class="col-6">
            <input  class="form-control"
                    type="text" 
                    placeholder="Ingrese nombre completo"                    
                    name="nombre"
                    [(ngModel)]="clientes.nombre">

          </div>
        </div>

        <div id="prueba3" class="form-group ">
          <label class="col-2 col-form-label">DUI:</label>
          <div class="col-6">
            <input class="form-control" 
                   type="text" 
                   placeholder="Ingrese numero de DUI"            
                   name="dui"
                   [(ngModel)]="cliente.dui"
                   required>
>

          </div>
        </div>

        <div id="prueba3" class="form-group ">
          <label class="col-2 col-form-label">Vehiculo:</label>
          <div class="col-6">
            <input class="form-control" 
                   type="text" 
                   placeholder="Ingrese vehiculo" 
                   name="Vehiculo"
                  [(ngModel)]="cliente.vehiculo">


          </div>
        </div>

        <!--<div id="prueba3"  class="form-group ">
        <label class="col-4 col-form-label">Costo de Reparacion:</label>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Ingrese el costo de reparacion en $"
            formControlName="nombre">

        </div>
      </div> -->



        <div id="prueba3" class="form-group ">

          <div class="col-6">
            <button type="submit" class="btn btn-block btn-outline-primary">Ingresar</button>
          </div>

        </div>

      </div>

    </form>


    <div class="col">



      <div id="prueba2" class="row">
        <div class="col-6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <app-card>
          </app-card>
        </div>
      </div>
    </div>
  </div>

</div>