<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 ">Taller Don Alex</h1>
    <p class="lead">El mejor taller de El Salvador</p>
    <hr class="my-2">
    <p>Se Aplica el 5% a los clientes que tengan 2 visitas y 10% a los que tengan
      4 visitas. </p>
    <div class="form-group ">
      <label class="col-4 col-form-label">Buscador</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="Busque por medio de DUI" [ngModel] = "dui" >

      </div>
    </div>
    <i class="fas fa-info-circle float-right"></i>
  </div>
</div>



<div class="container-fluid">

  <div class="row">

    <div class="col-2">
      <form  (ngSubmit)="guardar(forma)" #forma="ngForm"  autocomplete="off">
          <div id="prueba3" class="form-group">
            <label class="col-2 col-form-label ">Nombre:</label>
              <input  class="form-control"
                      type="text" 
                      [ngModel]="cliente.nombre"
                      placeholder="Ingrese nombre completo"                    
                      name="nombre"
                      #nombre="ngModel">
          </div>
  
          <div id="prueba3" class="form-group ">
            <label class="col-2 col-form-label">DUI:</label>
              <input class="form-control" 
                     type="text" 
                     placeholder="Ingrese numero de DUI"            
                     name="dui"
                     [(ngModel)]="cliente.dui"
                     required>
  
  
            </div>

          <div id="prueba3" class="form-group ">
            <label class="col-2 col-form-label">Vehiculo:</label>
              <input class="form-control" 
                     type="text" 
                     placeholder="Ingrese vehiculo" 
                     name="Vehiculo"
                    [(ngModel)]="cliente.vehiculo">
  
  
            </div>

            <input class="form-control"
                       type="text" 
                       placeholder="Ingrese el costo de reparacion en $"
                       [ngModel]="cliente.visita"
                       name="visita"
                       #visita="ngModel" hidden>
  
         
  
  
  
          <div id="prueba3" class="form-group ">
              <button type="submit"  class="btn btn-block btn-outline-primary">Ingresar</button>
            </div> 
      </form>
    </div>


    <div class="col">
      <div id="prueba2" class="row anyClass">
        <div class="col-4" *ngFor="let item of clientes | filter : dui">
          <app-card [cliente] = "item">
          </app-card>
        </div>
      </div>
    </div>
  </div>

</div>