<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 ">Taller Don Alex</h1>
    <p class="lead">El mejor taller de El Salvador</p>
    <hr class="my-2">
    <p>Se Aplica el 5% a los clientes que tengan 2 visitas y 10% a los que tengan
      4 visitas. </p>
  </div>
</div>


<div  class="container">
  <div  class="row">
    <div  class="col">
      <div class="form-group ">
        <label class="col-2 col-form-label">Nombre:</label>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Ingrese nombre completo" formControlName="nombre">

        </div>
      </div>

      <div class="form-group ">
        <label class="col-2 col-form-label">DUI:</label>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Ingrese numero de DUI" formControlName="nombre">

        </div>
      </div>

      <div class="form-group ">
        <label class="col-2 col-form-label">Vehiculo:</label>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">

        </div>
      </div>

      <div class="form-group ">
        <label class="col-4 col-form-label">Costo de Reparacion:</label>
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Ingrese el costo de reparacion en $"
            formControlName="nombre">

        </div>
      </div>


      <div class="form-group ">

        <div class="col-6">
          <button type="button" class="btn btn-block btn-outline-primary">Ingresar</button>
        </div>

      </div>

    </div>


    <div class="col" >

      <div  class="row" >
        <div  class="col-6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <app-card>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>