/*#prueba
{
    
  position: fixed;
  width: 40%;
    text-align: left;
    background-color: green;

}


#prueba2
{
    
    width: 50%;
    float: right;
   margin-right: 10%;
   background-color: red;
}

#prueba3
{
    padding-left: 20%;
}
*/

.anyClass {
  height:50%;
  overflow-y: scroll;
}

